<button mat-raised-button color="primary" routerLink="" class="back-button">Back</button>
<mat-card>
  <mat-card-content>
    <h1>Thing</h1>
    <form class="form-thing" [formGroup]="thingsForm" (ngSubmit)="createThing()">
      <mat-form-field>
        <mat-label>Name thing</mat-label>
        <input matInput type="text" formControlName="nameThing">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Volume</mat-label>
        <input matInput type="number" formControlName="volumeThing">
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">Apply</button>
    </form>
  </mat-card-content>
</mat-card>

<ng-container [formGroup]="thingsUpdateForm">
  <div class="thing" formArrayName="things" *ngFor="let thingForm of thingsArray.controls; let index = index">
    <ng-container [formGroupName]="index">
      <mat-form-field>
        <mat-label>Name thing</mat-label>
        <input matInput type="text" formControlName="nameThing">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Volume thing</mat-label>
        <input matInput type="text" formControlName="volumeThing">
      </mat-form-field>
    </ng-container>

    <button mat-raised-button color="primary" (click)="updateThing(thingForm.value)">Seve</button>
    <button mat-raised-button color="primary" (click)="deleteThing(thingForm.value.idThing)">Delete</button>
  </div>
</ng-container>



