:host {
  display: block;
  padding: 1rem;
  .back-button {
    margin-bottom: 1rem;
  }
  .form-thing {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
  }
  .thing {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
  }
}
